doctype html
html(lang="en")
  head
    title='#{name}'
    link(
      type="text/css"
      rel="stylesheet"
      media="all"
      href="#{assetDirectory}/css/style.css"
    )
  body
    .container
      .btn.grid-width-1.grid-height-1 One
      .btn.grid-width-1.grid-height-1 Two
      .btn.grid-width-1.grid-height-1 Three
      .btn.grid-width-1.grid-height-1 Four
      .btn.grid-width-1.grid-height-1 Five
      .btn.grid-width-1.grid-height-1 Six
      .btn.grid-width-1.grid-height-1 Seven
      .btn.grid-width-1.grid-height-1 Eight
      .btn.grid-width-1.grid-height-1 Nine
      .btn.grid-width-1.grid-height-1 Ten
      .btn.grid-width-1.grid-height-1 Eleven
      .btn.grid-width-1.grid-height-1 Twelve
  script(
      type='text/javascript'
      src='#{assetDirectory}/js/sequencer.js'
    )